body{
    background-color: lavender;
    background-image: url(clouds.gif);
    text-align: left; 
}
h1{ 
    font-size: 4em ;
    font-weight: bold;
    padding-left: 50px;
    text-align: center;
    text-decoration: underline;
}
h2{
  font-size: 3em;
  padding-left: 50px;
  text-decoration: underline;
}
h3{
   font-size: 2em;
   padding-left: 190px;
   text-decoration: underline;  
}
p{
    font-size: 1.25em;
    padding-left: 80px;
    padding-right: 90px;
    text-indent: 30px;  
}
.test {
  border: solid #000000;
  width: 25em; 
  word-wrap: break-word;
}
/* unvisited link */
a:link {
    color: blue;
  }
  
  /* visited link */
  a:visited {
    color: blueviolet;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }

ul{
      text-align: left;
  }
footer{
    padding-left: 30px;
    text-align: left;
}

img{
    box-shadow: 5px 5px slategray;
    display: block; 
    margin-bottom: 20px; 
    margin-left: 80px;
    margin-right: 20px;
}
a{
    padding-left: 50px;
}
