body{
    background-color: lavender;
    font-family: Lucida Console;
    text-align: left;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    font-size: 3em ;
}
p{
    padding-left: 80px;
    padding-right: 90px;
    text-indent: 30px;
    font-size: 1.25em
}
/* unvisited link */
a:link {
    color: blue;
  }
  
  /* visited link */
  a:visited {
    color: blueviolet;
  }
  
  /* mouse over link */
  a:hover {
    color: purple;
  }
  
  /* selected link */
  a:active {
    color: hotpink;
  }
ul{
      padding: none;
      text-align: left;
  }
footer{
    text-align: left;
    padding-left: 30px;
}
h1,h2 { 
    text-shadow: 3px 3px 3px #ccc;
    padding-left: 50px;
    text-decoration: underline;
}
h3{
    padding-left: 190px;
    text-decoration: underline;
}
img{
    box-shadow: 5px 5px slategray;
    margin-right: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: 80px;
    margin-right: 70px;
}
a{
    padding-left: 50px;
}
